{% extends 'base.html' %}
{% block head%}
<title>Recipes</title>
{% endblock %}

{% block body %}
<h1>All recipes</h1>
<a class="btn btn-success float-right" href="/recipes/new/">New recipe</a>
<hr>
{% for recipe in recipes %}
<div class="mb-4">
  <h2>{{ recipe.title }}</h2>
  <h3>{{ recipe.category }}</h3>
  <p style="white-space: pre-wrap">{{ recipe.description }}</p>
  <p>
    {% if recipe.author %}
    <small>Written by {{ recipe.author }} on {{ recipe.date_posted }}</small>
    {% else %}
    <small>Written by unknown on {{ recipe.date_posted }}</small>
    {% endif %}
  </p>
  <a class="btn btn-primary" href='/recipes/edit/{{ recipe.id }}'>Edit</a>
  <a class="btn btn-danger" href='/recipes/delete/{{ recipe.id }}'>Delete</a>
</div>
{% endfor %}
{% endblock %}